body{
    background-image: url('1.jpg');
  
  }
 .card-img-top:hover {
  transform: scale(1.5);
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -o-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transition: .5s;
}
.navbar{
  object-fit: cover;
  background-image: url('1.jpg');
}

.card-body{
border-radius: 40%; 
}

.navbar-brand{
  border-radius: 100%;
}

