
.navbar{
	border-top:5px solid skyblue;
	padding: 30px;
	margin-bottom: 10px;
}

.native a{
	margin-top: 10px;
}
.nav{
	box-sizing:border-box;
	justify-content: center;
	padding: 7px;

}

.row{
	margin-top: 10px;
}

.Section{
	line-height: 3;
	padding-left: 20px;
	list-style: none;
	

}

.Feature{
	line-height: 3;
	list-style: none;
}
.mx-auto{
	width: 800px;
	height: 300px; 
	box-sizing: border-box;
	background-size: cover;
	
}

.Externallink{
	margin-top: 30px;
	padding: 8px auto ;
	line-height: 1.0;
	width: 40%;
	list-style: none;
	height: 30%;
}
footer{
	background-color: #333;
	width: 100%;
	height: 7%;


}
 h5{
	text-align: center;
	margin-top: 10px;
	padding-top: 10px;
	color:#fff;
	font-size: 15px;
	font-family:"Slabo 27px" ;
}
