body{
	background-image: url(../img/pattern.jpg);
}


h1{
	text-align: center;
	text-decoration: underline;

}
h3{
 
	color: blue;
}

hr{
	border-color: black;
}
section{
	padding: 20px;
	width:1000px;
	margin:80px auto;
	background-color:#ffffff;
	position: relative;
	margin-bottom: 20px;
	border:5px dashed skyblue;

}
header{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 50px;
	background-color: #ffffff;
	display: inline-block;
	z-index: 1000;
	border-bottom: 10px solid skyblue;

}
nav{
	padding: 10px;
	position: relative;
	margin-top: -83px;	
}
nav a{
	float: left;
}

nav ul{
	float: right;
}
nav a li{
	display:inline-block;
	padding: 20px;
	text-decoration: none; 
}


nav a:hover{
	color: skyblue;
}

footer{
	background-color: #333;
	width: 100%;
	height: 7%;


}
 h5{
	text-align: center;
	margin-top: 10px;
	padding-top: 10px;
	color:#fff;
	font-size: 15px;
	font-family:"Slabo 27px" ;
}
